/* Grundstile für die Bilder */
.image1 {
    position: relative;
    width: 100%; /* Breite auf 100% setzen, um responsiv zu sein */
    max-width: 230px; /* Maximale Breite festlegen, um Überdehnung zu verhindern */
    transform: rotate(-15deg);
    left: 5%; /* Linken Abstand in Prozent setzen */
    z-index: -1;
}

.image2 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 300px; /* Maximale Breite festlegen */
}

.image3 {
    width: 100%; /* Breite auf 100% setzen */
    max-width: 110px; /* Maximale Breite festlegen */
    position: relative;
    top: 10%; /* Top-Abstand in Prozent setzen */
    left: -5%; /* Linken Abstand in Prozent setzen */
}

/* Gemeinsame Stile für die versteckten und gezeigten Zustände */
.hidden, .show {
    transition: all 1s;
}

/* Stile für den versteckten Zustand */
.hidden {
    position: relative;
    top: 900px;
    filter: blur(10px);
    opacity: 0;
}

/* Stile für den gezeigten Zustand */
.show {
    filter: blur(0px);
    opacity: 1;
    transform: translateX(100px); /* Ursprüngliche Position zurücksetzen */
}

/* Media Query für kleinere Bildschirme (z.B. Smartphones) */
