

.logos {
	position: relative;
	top: 100px;
	display: flex;
	gap: 100px;
	left: -30px;
}
.logo {
	filter: blur(4px);
	position: relative;
	width: 100px;
	top: 600px;
	left: 700px;
	opacity: 0;
}

.logo:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.logo_show {
	filter: blur(0px);
	opacity: 1;
	transform: translateX(50px);
}

.logo1 {
	transition: 200ms;
}
.logo2 {
	transition: 600ms;
}


.logo3 {
	transition: 800ms;
}

@media (max-width: 1600px) {
    .logos {
		margin: 0 auto;
        margin-left: -360px; /* Passe den Wert nach Bedarf an */
		
    }
	.zugang_zum_erfolg {
		margin-left: -100px;
	}
	#start_now {
		left: 950px;
	}
	.erfolg_text {
		font-size: 1.2vw;
	}

	.cycle1, .cycle2, .cycle3 {
		margin-left: -20px;
	}
	.erfolg_text {
		left: 720px;
	}
	#e_text2 {
		top: 360px;
	}
	
	#text3 {
		top: 420px;
	}
	
}
