.erfolg_title {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    top: 920px;
    word-wrap: break-word;
}


.erfolg_text {
    margin-top: 10px;
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8vw;
    font-weight: 400;
    top: 262px;
    left: 740px;
    opacity: 0;
    word-wrap: break-word;
}

    
    
.erfolg_text_show {
        filter: blur(0px);
        opacity: 1;
        transform: translateX(90px);
        transition: all 1s;    
    }

